@media  screen and (min-width: 525px) {
  .main-pc {
    display: block
  }
  #wrapper-modile {
    display: none
  }
}

@media  screen and (max-width: 525px) {
  .main-pc {
    display: none
  }
  #wrapper-modile {
    display: block
  }
}